In [1]:
# !python -m pip install sentencepiece

Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 4.9 MB/s
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.96

In [10]:
import sentencepiece as spm

In [3]:
!curl -O https://raw.githubusercontent.com/LawrenceDuan/IMDb-Review-Analysis/master/IMDb_Reviews.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 62.8M  100 62.8M    0     0   146M      0 --:--:-- --:--:-- --:--:--  146M

In [4]:
import pandas as pd

In [5]:
df_data = pd.read_csv('./IMDb_Reviews.csv')
df_data.head(3)

                                              review  sentiment
0  My family and I normally do not watch local mo...          1
1  Believe it or not, this was at one time the wo...          0
2  After some internet surfing, I found the "Home...          0

In [7]:
df_data = df_data[0:2000]

In [8]:
with open('imdb_review.txt','w') as f:
  f.write('\n'.join(df_data['review']))

In [11]:
spm.SentencePieceTrainer.Train('--input=./imdb_review.txt --model_prefix=imdb --vocab_size=5000 --model_type=bpe --max_sentence_length=9999')

In [14]:
import csv

In [17]:
df_vocab = pd.read_csv('./imdb.vocab', sep='\t', quoting=csv.QUOTE_NONE, header=None) # 탭 간격을 기준
df_vocab.sample(10)

                0     1
24             or   -21
2619  ▁television -2616
3308     ▁fiction -3305
4929            i -4926
160          ▁one  -157
4490        ▁educ -4487
1457      ▁others -1454
4092         They -4089
2819         ▁Pol -2816
3281        ▁Matt -3278

In [18]:
df_vocab.head(10)

       0  1
0  <unk>  0
1    <s>  0
2   </s>  0
3     ▁t  0
4     ▁a -1
5     he -2
6     in -3
7   ▁the -4
8     ▁s -5
9     re -6

In [20]:
spp = spm.SentencePieceProcessor()
spp.load('./imdb.model')

True

In [22]:
line01 = "I didn't at all think of it this way."

In [24]:
print(spp.encode_as_pieces(line01))

['▁I', '▁didn', "'", 't', '▁at', '▁all', '▁think', '▁of', '▁it', '▁this', '▁way', '.']

In [26]:
print(spp.encode_as_ids(line01))

[40, 588, 4949, 4926, 136, 175, 400, 30, 56, 77, 418, 4945]